<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="frontStageRewrite">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="backstage" negate="true" />
                        <add input="{REQUEST_URI}" pattern="service" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
